<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <style>
        .menu li{
            float: left;
            list-style: none;
            width: 100px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: #eee;
        }
        .clear{
            clear: both;
        }
    </style>
</head>
<body>
    <% include ./common/head.html%>
    <div class="clear"/div>
    这里是<b><%= username%></b>的个人中心,年龄：<%= age%>
    个人简介：<%- info%>

    <br>
    我的订单：
    <ol>
        <% for(let i =0; i < orders.length; i++){ %>
            <li><%= orders[i]%></li>
        <%}%>
    </ol>
</body>
</html>