.mydiv {
    width: 200px;
    height: 200px;
    background-color: #f0d;
}
.H{
    color: #f01;
}


.dhead img{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eee;
    cursor: pointer;
}