<% include head.html%>

<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">班级管理</a>
            <a><cite>班级列表</cite></a>
        </span>
        <hr>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>班级名称</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="classlist">
                <%  n=1; for(let i=0;i < clist.length; i++){ %>
                <tr>
                    <td><%= n++%></td>
                    <td><%= clist[i].cname%></td>
                    <td><%= new Date(clist[i].addtimes).toLocaleString()%></td>
                    <td><a href="###" class="delc H" data-cid="<%= clist[i].cid%>">删除</a></td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</div>

<% include foot.html%>